alphabet_detector
bs4
bleach
cachetools
covid
demjson
dnspython
emoji
feedparser
future
markdown2
google_trans_new
gtts
lxml
pillow
psutil
psycopg2-binary
pymongo[srv]
python-telegram-bot==13.9.0
pytz
python-dotenv
requests
spamwatch
speedtest-cli
sqlalchemy
telegraph
wget
wikipedia
hurry.filesize
asyncio
git+https://github.com/python-telegram-bot/ptbcontrib.git
